@import "tailwindcss";
@import "fumadocs-ui/css/neutral.css";
@import "fumadocs-ui/css/preset.css";

:root {
  --fd-background: 250 246 227;
  --fd-primary: 167 137 108;
}

.dark {
  --fd-background: 26 26 26;
  --fd-primary: 167 137 108;
}
